*.d
*.cmf
*.pre
Makefile
*.p1
*.elf
*.hex
*.hxl
*.lst
*.map
*.rlf
*.sdb
*.sym
*.mk
*.properties
*.bash
*.xml
funclist
nbproject/sd1.c
nbproject/spi1.c
dist/default/production/Repetidor.X.production.obj
l.obj
